@import 'variables';

#search-form {
  //position: relative;
  width:fit-content;
  //height:100%;
  display: flex;
  justify-content: start;
  align-items: center;
  //flex-direction: column;
  //padding:10px;
  gap:17px;
}
.input-text-div {
  position: relative;
  //width: 100%;
  border:red solid 1px;
}
#firstInput {
  //position: relative;
  position: absolute;
  //left:50%;
  white-space: nowrap;
  right:50%;
  bottom:0;
  transform: translate(-50%,0);
          //z-index: 1000;
  height:50px;
  border-radius: 30px;
  border: $secondary-color 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

//
//button {
//  position: relative;
//  z-index: 2000;
//}
#mic-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.6;
  box-shadow: $box-shadow;
  transition: 200ms ease-in;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

}

.mic-on{
  /*background-color: #be0925;*/
  /*animation: blinking 1s 1s infinite ease ;*/
  border-radius: 10px;
  animation: 700ms infinite alternate blinking;
  color:$white-bg-color;
  border-color:$white-bg-color;
}
.mic-off{
  background-color:$green-primary-color;
  border-color:$green-primary-color;

  //padding:10px 20px;
  border-radius: 10px;
  color:$white-bg-color
}

.stage-description--div {
  width:100%;
}

.download-btn-div {
  position: absolute;
  right:20px;

}
#download-btn {
  background-color: $primary-color;
  padding:10px 15px;
  border-radius: 5px;
  box-shadow: $box-shadow;
  transition: 200ms ease-in;
  &:hover {
    cursor: pointer;
    background: $white1-color;
  }
}