@import 'variables';

#search-form {
  width:fit-content;
  //height:100%;
  display: flex;
  justify-content: start;
  align-items: center;
  //flex-direction: column;
  //padding:10px;
  gap:17px;
}

#firstInput {
  //position: relative;
  //z-index: 1000;
  height:50px;
  border-radius: 30px;
  border: $secondary-color 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

//
//button {
//  position: relative;
//  z-index: 2000;
//}
#mic-btn {
  display: flex;
  align-self: center;
  justify-content: center;
  //padding:10px 20px;


}

.mic-on{
  /*background-color: #be0925;*/
  /*animation: blinking 1s 1s infinite ease ;*/
  border-radius: 10px;
  animation: 700ms infinite alternate blinking;
  color:$white-bg-color;
  border-color:$white-bg-color;
}
.mic-off{
  background-color:$green-primary-color;
  border-color:$green-primary-color;

  padding:10px 20px;
  border-radius: 10px;
  color:$white-bg-color
}