@import 'variables';

.commands-div {
  //min-width: 500px;
  //max-width: 550px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  gap:40px;
  background: $gray-bg-primary;
  p {
    font-size: 10px;
  }
}
.voice-div {
  border-bottom : 1px solid $gray-secondary-color;
  width: 100%;
  padding: 20px;
}
.stage-div {
  width:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  border: 2px solid $secondary-color;
  border-radius: 10px;
  text-shadow: $text-shadow1;
  color:$blue-primary-color;
  transition: 300ms;
    &:hover {
    transform: scale(1.03) ;
  }
  &active {
    background: rgba(255, 255, 255, 0.32);
  }
}
.stage-counter {
  border: 2px solid $secondary-color;
  border-radius: 5px;
  display: flex;
  justify-self: flex-start;
  align-items: center;
  padding:3px 5px;
  //position: absolute;
  top:0;
  //transform: translateY(-15px);
  background: $white1-color;


}

.info-screen {
  width:100%;
  height:100%;
  color:$primary-color;
  border-radius:10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap:3vh;
  //box-shadow: $box-shadow;
  background: $gray-bg-primary;
}

.commands-p {
  color: $black-primary;
}
.info-headings {
  color: $white1-color;
  text-decoration: underline;
  text-shadow: $text-shadow1;
  letter-spacing: 1px;
  font-weight: 100;
}

.user-span {
  text-decoration: underline;
  color: $white1-color;
}

.recognition--text {
  width: fit-content;
  background-color: $gray-color;
  letter-spacing: 1px;
  color:$white1-color;
}