@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #8aaec0;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);


* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}



.container {
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    flex-direction: column;

}
#image-div {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mic-on{
    /*background-color: #be0925;*/
    /*animation: blinking 1s 1s infinite ease ;*/
    padding:10px 20px;
    border-radius: 10px;
    animation: 700ms infinite alternate blinking;
}
.mic-off{
    background-color: #b6adad;
    padding:10px 20px;
    border-radius: 10px;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
    width:fit-content;
    background-color: $secondary-color;
    img {
        border: 2px solid gray;
    }
}
.text {
    /*font-size: 40px;*/
    color: yellow;
    text-align: center;
    text-shadow: 1px 1px #2f2b2b;
}

#text-div {
    width: 100%;
    position: absolute;
    left: 50%;
    /*top: 20%;*/
    transform: translate(-50%,-50%);


}

.stage-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.position--top {
    top: 20%;
}
.position--center {
    top: 50%;
}
.position--bottom {
    top: 80%;
}

.recognition--text {
    width: fit-content;
    background-color: rgba(204, 198, 198, 0.78);

}
.fade-out {
    opacity: 1;
    /*animation: fadeOut 1s 100ms ease-in-out forwards;*/
    /*animation-name: fadeOut;*/
    /*animation-duration: 2s;*/
    animation: 2s forwards linear fadeOut;
}
.fade-in {
  opacity: 0;
    animation: 1s forwards linear fadeIn;
}
@keyframes blinking {
    from{
    background-color: #b6adad;
}
    to {
    background-color: #be0925;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}