.container {
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    flex-direction: column;
}
#image-div {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mic-on{
    background-color: #be0925;
    /*animation: blinking 1s 1s infinite ease ;*/
    padding:10px 20px;
    border-radius: 10px;
}
.mic-off{
    background-color: #b6adad;
    padding:10px 20px;
    border-radius: 10px;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
    width:fit-content;

}
.text {
    /*font-size: 40px;*/
    color: yellow;
    text-align: center;
}

#text-div {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    border: red solid 1px

}

@keyframes blinking {
from {
    background-color: #ad4040;
}
    to {
    background-color: #be0925;
    }
}